body {
	background-color:  #efefef;	
	color: #644;
	font-family: Arial, Helvetica, Lucida Grande, sans-serif; 
}

h1, h2, h3 {
	margin-bottom: .2em; 
}

figure {
	position: relative;
  	display: inline-block;
  	margin: .5em;
}

.imground {
	border: solid 2px green;
  	border-radius: 50%;
  	vertical-align: top;
}

.figcapt {
	background-color:rgba(0,0,0,0.5);
  border-radius: 6px; 
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1em;
  line-height: 2em;
  font-size: 1em; 
  color: white;
  text-align: center; 
}

img.imground:hover + figcaption {
  display: block;
}

.topclass {
	/*padding: 10px; */
}

.topimgs {
	position: relative;
	top: 50% ;
	vertical-align: top;
}

img {
	vertical-align: top;
}

.figcapt {
  background-color:rgba(0,0,0,0.5);
  border-radius: 6px; 
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1em;
  line-height: 2em;
  font-size: 1em; 
  color: white;
  text-align: center; 
}

.aside {
	margin: 0 2em 0 2em; /* top/bottom left/right */
}

.emphasize {
	background-color: #FFF;
	border: 1px dotted #000;
	font-weight: bold;
	margin: .5em 0; 
	padding: .5em; 
	
}

#changeshape. {
			color: blue; 
		}

/* Lesson 03 */
.horizontal {
	float: left;
	width: 150px; 
	list-style: none; 
	margin: 1em; /* 1em = 16px = 100% */ 
	background-color: #F00;
	
}

h1 {
	clear: both;
}
img.fadeIn, img.fadeInD  {
	height: auto; 
	width: 200px; 
	padding: 0.5em; 
	border: 1px solid #022; 
	margin-right: 0.5em; 
	background-color: #EE0; 

}

img.fadeInD  {
	width: 75px; 
}


.subItem {
	background-color: #AABBCC;
}

/* Lesson 04 */
.kenyaPhotos {
	height: auto; 
	width: 200px; 
	padding: 0.5em; 
	border: 1px solid #022; 
	margin-right: 0.5em; 
	background-color: #EE0; 
}

#article-1 {
	margin-top: 1em; 
	background-color: #0757A7; 
	border-top: .4em solid #88B0EF; 
}

#red {
	background-color: red;
}

/* Lesson 5*/

#container {
	width: 50%;
	max-width: 1200px; 
	min-width: 600px; 
	margin: 2em auto; /*<!--// stays aligned in windwon no matter how big or small browser gets  */
	
	}
	

/* Lesson 6 */ 
body.large .article {
	font-size: 150%; 
}

.selected {
	font-weight: bold; 
	font-style: italic; 
	font-color: purple; 
	}

#textController {
	width: 200px;
	padding: 20px; 
	border: 1px solid #000; 
	 ; 
}
#textController button {
	cursor: pointer ; 
}

/* Lesson 07 */
.hover {
	cursor: pointer; 
	background-color: #666;
	color: #EFEFEF; 
	width: 200px; 
}

#colorlist li {
	display: inline;
	padding-right: 20px;
}

div.fadehover {
	position: relative;
	}

	

#squarewrapper {
	width:500px;
	border: 1px solid black;
}

#firstsq {
	width: 300px;
	border: 1px solid red;
}
 
 #secondsq {
 	width: 100px;
 	border: 1px solid green;
 }
